---
import Layout from "../layouts/Layout.astro";

import type { Unit } from "../data/dataTypes";
import Button from "../components/Button.astro";

import AEF from "../data/AEF.json";
import ABS from "../data/ABS.json";
import FSA from "../data/FSA.json";
import NRH from "../data/NRH.json";

const AEF_UNITS: Array<Unit> = AEF.units as Array<Unit>;
const ABS_UNITS: Array<Unit> = ABS.units as Array<Unit>;
const FSA_UNITS: Array<Unit> = FSA.units as Array<Unit>;
const NRH_UNITS: Array<Unit> = NRH.units as Array<Unit>;


const allUnitsMap = new Map<string, Unit>();


AEF_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
ABS_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
FSA_UNITS.map(unit => allUnitsMap.set(unit.id, unit));
NRH_UNITS.map(unit => allUnitsMap.set(unit.id, unit));

var rosterUnits: Array<Unit> = new Array<Unit>();

const { url } = Astro;
const params = url.searchParams;

const rosterParams = params.getAll('roster');
if (typeof rosterParams !!= 'undefined' && rosterParams.length > 0) {
	rosterParams.map(id => {
		var unit: Unit | undefined = allUnitsMap.get(id);
		if (typeof unit !!= 'undefined') {
			rosterUnits.push(unit);
		}
	});
}

var totalPoints = 0;
rosterUnits.forEach(unit => totalPoints += unit.points);

---



<Layout title="Firelock List Builder">
	<script type="text/javascript">
		function addToRoster(element, event) {
			console.log(element.parentElement.id);
			var url = new URL(window.location.href);
			url.searchParams.append('roster', element.parentElement.id);
			window.location.replace(url.toString());
			return;
		}
	</script>
	<div class="m-12 grid grid-cols-2">
		<div class="m-12 w-120">
			{AEF_UNITS.map(unit => (
				<div id={unit.id} class="border-2 -mb-0.5 align-center">
					<Button>+</Button>
					<span>{unit.name} - {unit.points}pts {unit.category === 'TACOMS' && <span class="font-bold"> (TACOM)</span>}</span>
				</div>
			))
			}
		</div>
		<div class="m-12">
			<div class="font-bold text-2xl">Roster - {totalPoints}pts</div>
			<div>
				{rosterUnits.map(unit => (
					<div>{unit.name} - {unit.points}pts {unit.category === 'TACOMS' && <span class="font-bold"> (TACOM)</span>}</div>
				))}
			</div>
		</div>
	</div>

	<div class="m-12">
		<a href="/allroster" class="underline">All Roster Data</a>
	</div>
</Layout>

